In [1]:
import sys
sys.path.insert(0, '/Users/orentapiero/MyResearch') 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from tqdm.notebook import tqdm 
from statsmodels.tsa.stattools import adfuller

from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR

from FILTERS.utilities import strided_app
from FILTERS.wavelet_transform import WT

from joblib import Parallel, delayed
from joblib.externals.loky import set_loky_pickler

import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *


set_loky_pickler()

plt.rcParams['figure.figsize'] = [10,8]
sns.set()
tqdm.pandas()

In [2]:
def VWAP(OHLC,what,L):
    Upper = OHLC[[what,'volume']].prod(1).rolling(L).sum()
    Lower = OHLC['volume'].rolling(L).sum()
    return Upper/Lower

def AnchVWAP(OHLC,what,t0,t1):
    idx = OHLC.index.date
    CumVol = OHLC.volume.groupby(idx).apply(lambda x: x.between_time(t0,t1).cumsum()).droplevel(0)
    Prod = OHLC.groupby(idx).apply(lambda x: x[[what,'volume']].prod(1).between_time(t0,t1).cumsum()).droplevel(0)
    return Prod/CumVol

def HeikenAshi(OHLC):
    cols = ['open','high','low','close']
    OHLC_ = OHLC[cols].copy()
    
    Close = OHLC_.mean(1).rename('close')
    Open = OHLC_[['open','close']].mean(1).shift(1).rename('open')
    High = pd.concat([Open,Close,OHLC_['high']],axis = 1).max(1).rename('high')
    Low = pd.concat([Open,Close,OHLC_['low']],axis = 1).min(1).rename('low')
    ha_OHLC = pd.concat([Open,High,Low,Close],axis = 1)
    return ha_OHLC

def ohlc_plot(df,date,indicator_list,filname = 'plot.html'):
    df_ = df.loc[date].copy()
    
    fig = make_subplots(rows=2, 
                         cols=1,
                         shared_xaxes=True,row_width=[0.2, 0.9])

    date = df_.index
    Op,Hi,Lo,Cl,Vol = df_.open,df_.high,df_.low,df_.close,df_.msg
#     AvwapHigh,AvwapLow = df_['AvwapHigh_9_2_18'],df_['AvwapLow_9_2_18']

    fig.append_trace(go.Candlestick(x=date,open=Op,high=Hi,low=Lo,close=Cl),row=1,col=1)
    
    for item in indicator_list:
        fig.append_trace(go.Scatter(x = date,y = df_[item],name = item),row = 1,col = 1)
#     fig.append_trace(go.Scatter(x = date,y = AvwapLow),row = 1,col = 1)

    fig.append_trace(go.Bar(x=date,y=Vol,name = 'msg'),row=2,col=1)
    fig.update_layout(xaxis_rangeslider_visible=False,legend = dict(orientation = 'h'))
    fig.layout.yaxis2.showgrid=False
    fig.write_html(filname)
    return

In [15]:
data = pd.read_csv('/Users/orentapiero/Data/bitmex_BTCUSD_1m.csv')
data.index = pd.to_datetime(data['time'],unit = 's')
del data['time']
data = data.loc[:'2019']

ohlc['time'] = ohlc.index
grouper = ohlc.resample('60T',label = 'right',closed='right')

OHLC = [grouper['open'].first().rename('open'),
        grouper['high'].max().rename('high'),
        grouper['low'].min().rename('low'),
        grouper['close'].last().rename('close'),
        grouper['Volume'].sum().rename('Volume')]

OHLC = pd.concat(OHLC,axis=1)
OHLC.index = pd.to_datetime(OHLC.index)
OHLC = OHLC.loc[OHLC.Volume>0]

In [26]:
from sklearn import linear_model
from sklearn.svm import SVR

def Lag(x,L):
    Lx=np.empty_like(x)
    Lx[:]=np.nan
    Lx[L:]=x[:-L]
    return Lx

def create_ar(x,order):
    AR = [x]
    for l in order:
        AR.append(Lag(x,l))
    AR = np.vstack(AR).T
    return AR

def np_dropna(X):
    return X[~np.isnan(X).any(axis=1)]

def scaleX(X):
    return StandardScaler().fit(X)

def scaleY(y):
    return StandardScaler().fit(y.reshape(-1,1))

def svr_fit_predict(x,order):
    
    Y = create_ar(x,order)
    Y = np_dropna(Y)
    
    svr = SVR()
    y,X,Xcv = Y[:,0],Y[:,1:],Y[-1,:-1]
    
    
    scale_y,scale_X = scaleY(y),scaleX(X)
    ys,Xs,Xs_cv = scale_y.transform(y.reshape(-1,1)),scale_X.transform(X),scale_X.transform(Xcv.reshape(1,-1))

    svr.fit(Xs,ys.ravel())
    
    
    fitted_val = scale_y.inverse_transform(svr.predict(Xs).reshape(-1,1)).ravel()
    error = y-fitted_val
    predicted = scale_y.inverse_transform(svr.predict(Xs_cv[0].reshape(1,-1)).reshape(1,-1))[0][0]
    return error,fitted_val,predicted

def roll_fit_predict(OHLC,dates,order):
    ohlc_ = OHLC.loc[dates]
    Pmid = ohlc_[['open','close']].mean(1).values
    Rmid = np.diff(np.log(Pmid),prepend = np.nan)
    error,fitted_val,predicted = svr_fit_predict(Rmid,order)
    
    out = dict(date = dates[-1],
               close=ohlc_.close.iloc[-1],
               Pmid = Pmid[-1],
               predicted_mid = predicted,
               sigma_e = error.std())
    return out

In [27]:
order = (1,2,3,4)
logOHLC = np.log(OHLC)

strided_dates = strided_app(logOHLC.index.values,501,1)
N = strided_dates.shape[0]
fun = delayed(roll_fit_predict)

output = Parallel(n_jobs=-1)(fun(logOHLC,strided_dates[j,:],order) for j in tqdm(range(N)))
output = pd.DataFrame(output)
output.index = pd.to_datetime(output['date'])
del output['date']

  0%|          | 0/38165 [00:00<?, ?it/s]

In [28]:
output['predicted_pmid'] = output['close'] + (output['predicted_mid'])
output['Rmid'] = np.log(output['Pmid']).diff()
output['Rc2c'] = np.log(output['close']).diff()
output['Rmid2cl'] = output['close'] - output['Pmid'].shift(1)
Ohlc = pd.concat([logOHLC,output['predicted_pmid']],axis = 1).dropna()

In [29]:
def direc(output,var):
    pos = (output[var]>0) & (output['predicted_mid'].shift(1) > 0)
    neg = (output[var]<=0) & (output['predicted_mid'].shift(1) <= 0)
    mask = pos | neg
    return mask.sum()/mask.count()

In [38]:
error_m2m = (np.exp(output['Pmid']) - np.exp(output['predicted_pmid']).shift(1))
error_c2m = (np.exp(output['close']) - np.exp(output['predicted_pmid']).shift(1))

RMSE_m2m = error_m2m.groupby(error_m2m.index.year).apply(lambda x: np.sqrt((x**2).mean())).rename('RMSE_m2m')
RMSE_c2m = error_c2m.groupby(error_c2m.index.year).apply(lambda x: np.sqrt((x**2).mean())).rename('RMSE_c2m')
RMSE_m2m.loc['All'] = np.sqrt((error_m2m**2).mean())
RMSE_c2m.loc['All'] = np.sqrt((error_c2m**2).mean())

MAD_m2m = error_m2m.abs().groupby(error_m2m.index.year).mean().rename('MAD_m2m')
MAD_c2m = error_c2m.abs().groupby(error_m2m.index.year).mean().rename('MAD_c2m')
MAD_m2m.loc['All'] = error_m2m.abs().mean()
MAD_c2m.loc['All'] = error_c2m.abs().mean()

MDA_m2m = output.groupby(output.index.year).apply(lambda x: direc(x,'Rmid')).rename('MDA_m2m')
MDA_m2m.loc['All'] = direc(output,'Rmid')

MDA_c2m = output.groupby(output.index.year).apply(lambda x: direc(x,'Rmid2cl')).rename('MDA_c2m')
MDA_c2m.loc['All'] = direc(output,'Rmid2cl')

MDA_c2c = output.groupby(output.index.year).apply(lambda x: direc(x,'Rc2c')).rename('MDA_c2c')
MDA_c2c.loc['All'] = direc(output,'Rc2c')

pd.concat([RMSE_m2m,RMSE_c2m,MAD_m2m,MAD_c2m,MDA_m2m,MDA_c2m,MDA_c2c],axis = 1)

,RMSE_m2m,RMSE_c2m,MAD_m2m,MAD_c2m,MDA_m2m,MDA_c2m,MDA_c2c
date,,,,,,,
2017,103.972753,142.680933,38.662755,55.032530,0.563923,0.546126,0.497700
2018,77.127655,113.048173,46.704600,68.205375,0.591781,0.566210,0.508105
2019,51.997833,82.505654,31.298558,47.367179,0.595890,0.565411,0.509817
2020,44.160185,86.220627,25.979131,49.708979,0.650273,0.590847,0.475410
2021,272.338950,517.137626,183.346720,360.681641,0.691475,0.627326,0.499028
All,108.501510,189.331223,49.550770,83.911212,0.609616,0.573169,0.497917

In [39]:
RMSE_0_6 = np.sqrt((error_c2m.between_time('00:00','06:00')**2).mean())
RMSE_7_12 = np.sqrt((error_c2m.between_time('07:00','12:00')**2).mean())
RMSE_13_16 = np.sqrt((error_c2m.between_time('13:00','16:00')**2).mean())
RMSE_17_23 = np.sqrt((error_c2m.between_time('17:00','23:00')**2).mean())

print('00-06:',RMSE_0_6)
print('07-12:',RMSE_7_12)
print('13-16:',RMSE_13_16)
print('17-23:',RMSE_17_23)

00-06: 187.03911052404905
07-12: 180.7950276673723
13-16: 217.86234239862185
17-23: 181.04062244650814

In [40]:
MAE_0_6 = ((error_c2m.abs().between_time('00:00','06:00')).mean())
MAE_7_12 = ((error_c2m.abs().between_time('07:00','12:00')).mean())
MAE_13_16 = ((error_c2m.abs().between_time('13:00','16:00')).mean())
MAE_17_23 = ((error_c2m.abs().between_time('17:00','23:00')).mean())

print('00-06:',MAE_0_6)
print('07-12:',MAE_7_12)
print('13-16:',MAE_13_16)
print('17-23:',MAE_17_23)

00-06: 81.47528938513013
07-12: 82.90965839542095
13-16: 94.2373143290774
17-23: 81.30350053120704

In [62]:
def count_intersections(blend_ohlc_):
    return (blend_ohlc_.close > blend_ohlc_.predicted_pmid).astype(float).diff().abs().sum()

def ttinter(blend_ohlc_):
    inter = (blend_ohlc_.close > blend_ohlc_.predicted_pmid).astype(float).diff().abs()
    if inter.sum()>0:
        ttm = inter.loc[inter==1].index[0]-blend_ohlc_.index[0]
    else:
        ttm = pd.Timedelta(np.nan)
    return ttm

In [63]:
output=output.groupby(output.index).first()
ohlc=ohlc.groupby(ohlc.index).first()

In [64]:
spread = (np.exp(output['predicted_pmid'])-np.exp(logOHLC['open'].shift(-1))).rename('spread')
spread = spread.groupby(spread.index).first()
blend_ohlc = pd.concat([ohlc[['open','high','low','close']],
                        np.exp(output['predicted_pmid']),
                        spread],axis = 1).fillna(method = 'ffill').dropna()

In [65]:
sp = spread.copy()
sp.index = pd.to_datetime(sp.index)

print(sp.abs().between_time('00:00','06:00').mean())
print(sp.abs().between_time('07:00','12:00').mean())
print(sp.abs().between_time('13:00','16:00').mean())
print(sp.abs().between_time('17:00','23:00').mean())

24.342709691193665
25.151434218160748
24.322818790818204
24.274431735969202

In [66]:
intersect = blend_ohlc.groupby(blend_ohlc.index.strftime('%Y-%m-%d %H')).apply(count_intersections).rename('n_inter')
ttm = blend_ohlc.groupby(blend_ohlc.index.strftime('%Y-%m-%d %H')).apply(ttinter).rename('t2inter')
spread = blend_ohlc.groupby(blend_ohlc.index.strftime('%Y-%m-%d %H')).first()
mspread = blend_ohlc.spread.abs().groupby(blend_ohlc.index.strftime('%Y-%m-%d %H')).min().rename('min_spr')
mspread1 = (blend_ohlc.spread**2).groupby(blend_ohlc.index.strftime('%Y-%m-%d %H')).min().rename('min_spr1')

res = pd.concat([intersect,ttm,spread,mspread,mspread1],axis = 1)
res.index = pd.to_datetime(res.index)

In [67]:
summary1 = res[['n_inter','t2inter','min_spr','min_spr1']].describe().copy()
summary1.loc['count'] /= len(res)


print(np.sqrt(summary1.loc['mean'].loc['min_spr1']))
summary1

71.57156890161124

         n_inter                    t2inter      min_spr      min_spr1
count   1.000000                   0.914348     1.000000  1.000000e+00
mean    9.471624  0 days 00:05:15.757801530    24.531786  5.122489e+03
std     7.917703  0 days 00:09:00.594201182    67.236890  1.164309e+05
min     0.000000            0 days 00:01:00     0.000022  4.858967e-10
25%     3.000000            0 days 00:01:00     1.554980  2.417963e+00
50%     8.000000            0 days 00:02:00     5.926534  3.512381e+01
75%    15.000000            0 days 00:05:00    20.932525  4.381706e+02
max    39.000000            0 days 00:59:00  4478.600827  2.005787e+07

In [68]:
summary1 = res[['n_inter','t2inter','min_spr','min_spr1']].between_time('00:00','06:00').describe()
summary1.loc['count'] /= len(res.between_time('00:00','06:00'))
print(np.sqrt(summary1.loc['mean'].loc['min_spr1']))
summary1

81.22188490160012

         n_inter                    t2inter      min_spr      min_spr1
count   1.000000                   0.911369     1.000000  1.000000e+00
mean    9.467493  0 days 00:05:24.510789240    24.341146  6.596995e+03
std     7.867311  0 days 00:09:15.350182314    77.492209  2.046197e+05
min     0.000000            0 days 00:01:00     0.000164  2.704440e-08
25%     3.000000            0 days 00:01:00     1.468327  2.155985e+00
50%     8.000000            0 days 00:02:00     5.856743  3.430144e+01
75%    15.000000            0 days 00:05:00    20.482096  4.195163e+02
max    38.000000            0 days 00:59:00  4478.600827  2.005787e+07

In [69]:
summary1 = res[['n_inter','t2inter','min_spr','min_spr1']].between_time('07:00','12:00').describe()
summary1.loc['count'] /= len(res.between_time('07:00','12:00'))
print(np.sqrt(summary1.loc['mean'].loc['min_spr1']))
summary1

64.06304965684393

         n_inter                    t2inter      min_spr      min_spr1
count   1.000000                   0.910387     1.000000  1.000000e+00
mean    9.889215  0 days 00:04:59.606262951    25.193771  4.104074e+03
std     8.325090  0 days 00:08:42.957958444    58.904260  3.232382e+04
min     0.000000            0 days 00:01:00     0.000478  2.283450e-07
25%     3.000000            0 days 00:01:00     1.710362  2.925337e+00
50%     8.000000            0 days 00:02:00     6.290484  3.957019e+01
75%    15.000000            0 days 00:04:00    22.346583  4.993698e+02
max    39.000000            0 days 00:59:00  1192.669955  1.422462e+06

In [70]:
summary1 = res[['n_inter','t2inter','min_spr','min_spr1']].between_time('13:00','16:00').describe()
summary1.loc['count'] /= len(res.between_time('13:00','16:00'))
print(np.sqrt(summary1.loc['mean'].loc['min_spr1']))
summary1

66.15535008774859

         n_inter                    t2inter      min_spr      min_spr1
count   1.000000                   0.917636     1.000000  1.000000e+00
mean    9.217699  0 days 00:05:16.341212744    24.322819  4.376530e+03
std     7.877236  0 days 00:09:00.381315806    61.526627  4.728184e+04
min     0.000000            0 days 00:01:00     0.003238  1.048203e-05
25%     3.000000            0 days 00:01:00     1.712088  2.931247e+00
50%     7.000000            0 days 00:02:00     6.414070  4.114030e+01
75%    14.000000            0 days 00:05:00    21.593148  4.662641e+02
max    37.000000            0 days 00:59:00  1433.104259  2.053788e+06

In [71]:
summary1 = res[['n_inter','t2inter','min_spr','min_spr1']].between_time('17:00','23:00').describe()
summary1.loc['count'] /= len(res.between_time('17:00','23:00'))
print(np.sqrt(summary1.loc['mean'].loc['min_spr1']))
summary1

70.3317654623637

         n_inter                    t2inter      min_spr      min_spr1
count   1.000000                   0.918846     1.000000  1.000000e+00
mean    9.262874  0 days 00:05:20.457746478    24.274432  4.946557e+03
std     7.613448  0 days 00:09:00.389961554    66.012884  4.919867e+04
min     0.000000            0 days 00:01:00     0.000022  4.858967e-10
25%     3.000000            0 days 00:01:00     1.445665  2.089947e+00
50%     8.000000            0 days 00:02:00     5.487978  3.011790e+01
75%    14.000000            0 days 00:05:00    19.702642  3.881941e+02
max    39.000000            0 days 00:59:00  1408.486033  1.983833e+06